<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="header">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../css/stylish-portfolio.css" rel="stylesheet">
    <link href="../css/forms.css" rel="stylesheet">
    <link href="../css/nav.css" rel="stylesheet">
    <link href="../css/table.css" rel="stylesheet">
    <link href="../css/codeForm.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">




    <!--<a href="/">index</a> - <a href="/2">Page 2</a> - <a href="/3">Page 3</a>-->
</div>

<div class="container" th:fragment="navlinks">

    <div class="container" align="center">
        <!-- Navigation -->
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Robo Resume</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav js-nav-add-active-class">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/addUser">Person</a></li>
                            <li><a href="/addEduInfo">Education</a></li>
                            <li><a href="/addWorkExpInfo">Work Experience</a></li>
                            <li><a href="/addSkillInfo">Skills</a></li>
                            <!--<li><a href="/ResultResumeInfo">Resume Result In Table</a></li>-->
                            <!--<li><a href="/SummerizedResume">View Resume</a></li>-->
                            <li><a href="/logout">LogOut</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>

            </nav>
        </div>
    </div>
</div>
<div th:fragment="javaScript">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <![endif]-->
</div>
<div th:fragment="footer">Robo Resume Application @ copyright 2017</div>

</body>
</html>


