<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base :: header">
    <title>Home Page</title>
</head>
<body>
<div class="hero">
    <div class="container text-center">
        <h1>Welcome to Security Demo Application</h1>
        <br>
        <h2>Do you have Account with us?!</h2>
        <br>
        <div><h3><a href="login" type="submit"  class="btn btn-full">LogIn</a></h3></div><br>

        <div><h3><a href="signUpForm" type="submit"  class="btn btn-full">SignUp</a></h3></div>

    </div>
    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>
</html>