<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Add User Resume Info</title>
</head>
<body>
<!-- Header -->

<header id="top" class="header">
    <div class="text-vertical-center">
            <form autocomplete="off" class="well form-horizontal"
                  action="#"
                  th:action="@{/signUpForm}"
                  method="post"
                  th:object="${newUser}">

                <legend>Sign Up</legend>

                <!-- Form Name -->

                <input type="hidden" th:field="*{id}" />
                <!-- Text input-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-10">-->


                        <!--<label th:inline="text">Role Type</label>-->
                        <!--<select name="selectVal" class="form-control" >-->
                            <!--<option th:each="roleX:${userRole}"-->
                                    <!--th:value="${roleX.id}"-->
                                    <!--th:text="${roleX.urole}"></option>-->
                        <!--</select>-->

                        <!--<select th:name="scelctVal" class="form-control" >-->
                            <!--<option>One</option>-->
                            <!--<option>Two</option>-->
                            <!--<option>Three</option>-->
                        <!--</select>-->

                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{firstname}" name="firstname" placeholder="Enter First Name" class="form-control"  type="text">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{lastname}" name="lastname" placeholder="Enter Last Name" class="form-control"  type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{email}" name="email" placeholder="Enter E-Mail" class="form-control"  type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{username}" name="username" placeholder="Enter User Name" class="form-control"  type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <div  th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="well alert alert-danger" role="alert"></div>
                        <input  th:field="*{password}" name="password" placeholder="Enter Password" class="form-control"  type=password>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">

                        <p><button type="submit" value="Sign Up" class="btn btn-success">SignUp</button></p>
                        <p><button type="reset" value="Clear Form" class="btn btn-warning">Reset</button></p>

                    </div>
                </div>

        </form>
        </div>
    </div>
</header>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>

</html>
