<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
    <title>Display User Resume Info</title>
</head>

<body>

<!-- Header -->
<section class="hero">
    <div class="container text-center">
        <div class="container">
            <form class="well form-horizontal" th:action="@{/signUpConfirm}" th:object="${newUser}" method="">

                <fieldset>
                    <!-- Form Name -->
                    <legend align="Center">Your Information:</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newUser.firstname}" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newUser.lastname}" />
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p th:text="${newUser.email}" />
                        </div>
                    </div>
                    <!-- Button -->

                </fieldset>
            </form>
        </div>
        <div class="form-group" align="center">
            <div class="col-sm-offset-2 col-sm-10">
                <div><h3><a href="login" type="submit"  class="btn btn-full">LogIn</a></h3></div><br>
            </div>
        </div>
    </div>
</section>
<div th:replace="base :: javaScript"></div>
<div th:replace="base :: footer"></div>
</body>
</html>
